$font: "Inter", sans-serif;

$space-base: 1rem;
$space-xs: 0.5rem;
$space-s: 2rem;
$space-m: 3rem;
$space-l: 4rem;
$space-xl: 10rem;

$primary-color: #1c2632;
$primary-color-light-hover: #cbd7e7;
$accent-color: #2e8fff;
$accent-hover-color: #226cc1;
$light-color: white;
$light-shadow: #c7cfd9;
$grey-color: #828891;
$error-color: #eb420f;
$background-color: #eff1f4;
