$font: "Inter", sans-serif;

$space-base: 1rem;
$space-xs: 0.5rem;
$space-s: 2rem;
$space-m: 3rem;
$space-l: 4rem;
$space-xl: 6rem;

$primary-color: #1c2632;
$primary-color-light-hover: #cbd7e7;
$accent-color: #feb161;
$accent-hover-color: #e2944d;
$light-color: white;
$light-shadow: #c7cfd9;
$error-color: #eb420f;
