@use "./variables" as *;

html,
body {
  font-family: $font;
  color: $primary-color;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
    margin: $space-xs 0;
  }
  main {
    margin: $space-m $space-base;
    @media (min-width: 768px) {
      margin: $space-m $space-l;
    }
    @media (min-width: 1200px) {
      margin: $space-m $space-xl;
    }
  }
}
