@use "./variables" as *;

html,
body {
  font-family: $font;
  color: $primary-color;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  h1,
  h2,
  h3,
  p {
    padding: 0;
    margin: 0;
    margin: $space-xs;
  }
  main {
    margin: $space-m $space-base;
  }
}
