@use "../../styles/variables" as *;

.container {
  box-shadow: 2px 2px 7px $light-shadow;
  padding: $space-base;
  margin-bottom: $space-xs;
  width: 100%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: $light-color;
  .temperature {
    color: $accent-color;
    font-size: 2rem;
  }
  .date {
    color: $grey-color;
  }
  .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
